/* Header */
.popup {
  position: relative;
}

.popup:hover .popup__content {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: absolute;
  right: 0;
  top: 120%;

  padding-top: 20px;
  opacity: 0;
  visibility: hidden;
}

.popup__avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.popup__email {
  padding: 0 60px;

  color: rgba(0, 0, 0, 0.5);
}

.popup__link {
  padding: 5px 20px;
  border: 1px solid #333;
  margin-bottom: 15px;
  border-radius: 9999px;
  white-space: nowrap;
  font-weight: 500;

  color: #333;
}

.popup__link:hover {
  color: #333;
}

.popup__logout {
  padding: 8px 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  color: rgba(0, 0, 0, 0.5);
}

.popup__pseudo {
  position: absolute;
  content: '';
  top: -10px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  height: 50px;
}

/* Teacher */
.teacher {
  margin-top: 120px;
}

/* Dashboard */
.dashboard {
  margin-top: 100px;
  padding: 0 150px;
}

.dashboard__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.dashboard__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.dashboard__username {
  font-size: 22px;
  margin-top: 15px;
  font-weight: 700;
}

.dashboard__info {
  margin-top: 50px;
}

.dashboard__info-title {
  border-left: 5px solid black;
  padding-left: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.dashboard__info-items {
  margin-top: 20px;
}

.dashboard__info-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 14px 0;
}

.dashboard__info-item > .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dashboard__info-item-left {
  text-transform: uppercase;
  font-weight: 700;
}

.dashboard__submit {
  margin-top: 20px;
  padding: 10px 0;
}

/* Add class */
.add-class {
  width: 450px;
  max-width: 100%;
  margin: 0px auto 0;
}
