/* === Main === */
.backgrounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 130px 130px;
  grid-gap: 10px;
}

.background {
  transition: all 0.1s ease-out;
}

.background.selected {
  padding: 2px;
  border: 4px solid #60a5fa;
  border-radius: 4px;
}

/* === Stream === */
#upload {
  display: none;
}

.upload {
  width: 25px;
}
